@import '../../../../styles.scss';

.header__menu {
    .header__inline-menu {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 0;

            li {
                margin: 0rem 1rem;
                list-style: none;
                display: flex;

                .header__inline-link {
                    font-size: 2rem;
                    font-family: $main_font;
                    margin: 0;
                    color: $darkGray;
                    white-space: nowrap;
                    border-bottom: 0px solid $white;
                    transition: .3s ease-in-out;
                }

                i {
                    font-size: 1.2rem;
                    margin: 0 5px;
                    display: flex;
                    align-self: center;
                    transition: .3s ease-in-out;
                }
                
                &:hover {
                    cursor: pointer;
                    
                    .header__inline-link {
                        color: black;
                        border-bottom: 1px solid $black;
                        transition: .3s ease-in-out;
                    }

                    i {
                        color: black;
                        rotate: (180deg);
                        transition: .3s ease-in-out;
                    }
                }
            }
        }
    }

    .header__menu-icon {
        display: none;
    }


    @include tablet {
        .header__menu {
            position: absolute;
            left: 0;
            height: fit-content;

            .header__inline-menu {
                order: 0;
                display: none;
            }

            .header__menu-icon {
                display: flex;
                height: 4rem;

                a {
                    color: $black;
                    position: relative;
                    i {
                        font-size: 3rem;
                        position: absolute;

                        &:hover {
                            font-size: 3rem * $hovergrowthfactor;
                            top: -3px;
                            left: -1px;
                        }
                    }
                }
            }
        }
    }

    @include cellphone {
        .header__menu {
            margin-bottom: 3rem;
            position: unset;
        }

        .header__menu {
            order: 1;

            .header__menu-icon {
                height: 7rem;
                width: 7rem;
                a {
                    height: 100%;
                    width: 100%;
                    position: relative;

                    i {
                        font-size: 5rem;
                        position: absolute;
                        top: -3px;
                        left: 10px;

                        &:hover {
                            top: -7px;
                            left: 8px;

                            font-size: 5rem * $hovergrowthfactor;
                        }
                    }
                }
            }
        }
    }
}