<div class="container">
    <h3 class="mb-4">Management Dashboard</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Section</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>Departments</td>
                <td><a class="btn btn-dark" routerLink="/departments">Manage</a></td>
            </tr>

            <tr>
                <td>2</td>
                <td>Categories</td>
                <td><a class="btn btn-dark" routerLink="/categories">Manage</a></td>
            </tr>

            <tr>
                <td>3</td>
                <td>Products</td>
                <td><a class="btn btn-dark" routerLink="/products">Manage</a></td>
            </tr>

        </tbody>
    </table>

</div>