<div class="nav-menu-items">
    <div class="navbar-links">
        <i class="fa-solid fa-bars" (click)="showNavbarLinksUl()"></i>
        <ul class="navbar-links-ul"  [class.show-navbar-links-ul]="navbarLinksVariable">
            
            <li *ngFor="let department of headerMenuDepartments" class="navbar-links-ul-li">
                <a routerLink="/department/page/{{department.name}}">
                    {{department.name}}
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <div class="mega-box">
                    <app-navbar-megamenus [headerMenuCategoriesParam]="department.categories"></app-navbar-megamenus>
                </div>
            </li>

            <li *ngFor="let department of headerMenuDepartments" class="accordion accordion-flush">
                <div class="accordion-item">
                    <div class="accordion-header" id="{{department.id}}">
                        <a routerLink="/department/page/{{department.name}}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + department.name" aria-expanded="true" [attr.aria-controls]="department.name">
                            {{department.name}}
                        </a>
                    </div>
                    <div id="{{department.name}}" class="accordion-collapse collapse" [attr.aria-labelledby]="department.id">
                        <div class="accordion-body">
                            <app-navbar-megamenus [headerMenuCategoriesParam]="department.categories"></app-navbar-megamenus>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>

