@import '../../../styles.scss';

.section-header {
    height: 20rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    
    @include cellphone{
        height: fit-content;
    }
    
    .header {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 2rem 5rem;
        justify-content: center;

        & > * {
            margin: 0 3rem;
        }

        .header__heading {
            width: 22rem;
            height: 11.5rem;
            padding: 7.5px;

            .logo {
                font-family: $logo_font;
                color: $black;
                font-size: 9rem;
                line-height: 5rem;
            }

            .header__logo-left {
                float: left;
            }

            .header__logo-right {
                float: right;
            }
        }

        .header__menu {
            .header__inline-menu {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin-bottom: 0;
    
                    li {
                        margin: 0rem 1rem;
                        list-style: none;
                        display: flex;
    
                        .header__inline-link {
                            font-size: 2rem;
                            font-family: $main_font;
                            margin: 0;
                            color: $darkGray;
                            white-space: nowrap;
                            border-bottom: 0px solid $white;
                            transition: .3s ease-in-out;
                        }
    
                        i {
                            font-size: 1.2rem;
                            margin: 0 5px;
                            display: flex;
                            align-self: center;
                            transition: .3s ease-in-out;
                        }
                        
                        &:hover {
                            cursor: pointer;
                            
                            .header__inline-link {
                                color: black;
                                border-bottom: 1px solid $black;
                                transition: .3s ease-in-out;
                            }
    
                            i {
                                color: black;
                                rotate: (180deg);
                                transition: .3s ease-in-out;
                            }
                        }
                    }
                }
            }

            .header__menu-icon {
                display: none;
            }
        }

        .header__icons {
            background-color: pink;
            width: 12rem;
            height: 3rem;
            display: flex;
            position: relative;

            .header__icon {
                background-color: khaki;
                width: 3rem;
                height: 3rem;

                &:nth-child(1) {
                    position: absolute;
                    left: 1rem;
                }
    
                &:nth-child(2) {
                    position: absolute;
                    left: 5rem;
                }

                &:nth-child(3) {
                    position: absolute;
                    left: 9rem;
                }

                a {
                    background-color: aquamarine;
                    color: $darkGray;
                    position: relative;

                    i {
                        // background-color: khaki;
                        font-size: 2rem;
                        position: absolute;
    
                        &:hover {
                            font-size: 2rem * $hovergrowthfactor;
                        }
                    }
                }
            }
        }

        @include tablet {
            position: relative;
            height: fit-content;

            .header__heading {
                order: 1;
            }

            .header__menu {
                position: absolute;
                left: 0;
                height: fit-content;

                .header__inline-menu {
                    order: 0;
                    display: none;
                }

                .header__menu-icon {
                    display: flex;
                    height: 4rem;

                    a {
                        color: $black;
                        position: relative;
                        i {
                            font-size: 3rem;
                            position: absolute;
    
                            &:hover {
                                font-size: 3rem * $hovergrowthfactor;
                                top: -3px;
                                left: -1px;
                            }
                        }
                    }
                }
            }

            .header__icons {
                position: absolute;
                right: 0;
                order: 2;
                display: flex;
                justify-content: space-between;

                .header__icon {
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        position: unset;
                    }

                    a {
                        position: relative;
                        display: flex;
                        height: 100%;
                        width: 100%;

                        i {
                            position: absolute;
                            left: 5px;

                            &:hover {
                                top: -1px;
                                left: 4px;
                            }
                        }
                    }
                }
            }
        }

        @include cellphone {
            flex-direction: column;
            position: unset;
            height: fit-content;

            .header__heading,
            .header__menu,
            .header__icons {
                margin-bottom: 3rem;
                position: unset;
            }

            .header__heading {
                order: 0;
            }

            .header__menu {
                order: 1;

                .header__menu-icon {
                    height: 7rem;
                    width: 7rem;
                    a {
                        height: 100%;
                        width: 100%;
                        position: relative;

                        i {
                            font-size: 5rem;
                            position: absolute;
                            top: -3px;
                            left: 10px;

                            &:hover {
                                top: -7px;
                                left: 8px;

                                font-size: 5rem * $hovergrowthfactor;
                            }
                        }
                    }
                }
            }

            .header__icons {
                width: 22rem;
                height: 4.5rem;
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0 1rem;
                
                .header__icon {
                    display: flex;
                    justify-content: center;
                    height: 4.5rem;
                    width: 4.5rem;
                    
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        position: unset;
                    }

                    a {
                        height: 100%;
                        width: 100%;
                        position: relative;

                        i {
                            font-size: 3rem;
                            position: absolute;
                            top: 0px;
                            left: 8px;

                            &:hover {
                                font-size: 3rem * $hovergrowthfactor;
                                top: -2px;
                                left: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}
