<div class="section-header">
    <header class="header container-base">
        <a class="header__heading" routerLink="/">
            <div class="header__logo-left logo">Sólo</div>
            <div class="header__logo-right logo">respira</div>
        </a>

        <div class="header__menu">
            <nav class="header__inline-menu">
                <ul>
                    <li><a class="header__inline-link">Home</a></li>
                    <li><a class="header__inline-link">Shop</a><i class="bi bi-chevron-down"></i></li>
                    <li><a class="header__inline-link">Aftercare</a></li>
                    <li><a class="header__inline-link">About</a></li>
                    <li><a class="header__inline-link">Get in Touch</a><i class="bi bi-chevron-down"></i></li>
                </ul>
            </nav>
            
            <div class="header__menu-icon">
                <a href="#">
                    <i class="bi bi-list"></i>
                </a>
            </div>
        </div>

        <div class="header__icons">
            <div class="header__icon">
                <a href="#"><i class="bi bi-search"></i></a>
            </div>

            <div class="header__icon">
                <a href="#"><i class="bi bi-person"></i></a>
            </div>

            <div class="header__icon">
                <a href="#"><i class="bi bi-cart"></i></a>
            </div>
        </div>
    </header>
</div>

