<div class="page-block">

    <!-- <app-show-errors [errors]="errors"></app-show-errors> -->

    <div class="page-row"></div>

    <div class="product">
        <div class="container-fluid product-block">
            <section class="product__section--main">
                <div class="images">
                    <div class="images__carousel--list">
                        <ul>
                            <li><img [src]="productPage.image" alt=""></li>
                            <li><img [src]="productPage.image" alt=""></li>
                            <li><img [src]="productPage.image" alt=""></li>
                            <li><img [src]="productPage.image" alt=""></li>
                            <li><img [src]="productPage.image" alt=""></li>
                            <li><img [src]="productPage.image" alt=""></li>
                        </ul>
                    </div>

                    <div class="images__main--image">
                        <img [src]="productPage.image" alt="">
                    </div>
                </div>

                <div class="description">

                    <div class="product-description">

                        <h3>
                            {{productPage.name}} |
                            {{productPage.weight}}gr,
                            {{productPage.height}}cm x
                            {{productPage.width}}cm x
                            {{productPage.length}}cm
                        </h3>
                        <!-- <p>Product Code: {{productPage.id}}</p> -->
                        <!-- <div>
                            <img src="" alt="">
                            <div><a href="">Check store availability</a> </div>
                        </div> -->
    
                        <hr>
    
                        <div class="product-description__price">
                            <p class="price__original" *ngIf="productPage.price > productPage.priceWithDiscount">{{productPage.price | currency}}</p>
                            <p class="price__discount">{{productPage.priceWithDiscount | currency}}</p>
                        </div>
    
                        <div>
                            <p>Descripción:</p>
                            <p>
                                {{productPage.description}}
                            </p>
                        </div>

                        <div>
                            <p>Tamaño (cm):</p>
                            <button>
                                {{productPage.height}}H,
                                {{productPage.width}}W,
                                {{productPage.length}}L
                            </button>
                        </div>

                        <div>
                            <a href="#">Confirma tu pago</a>
                            <p>puede ser con tu deposito o transferencia bancaria.</p>
                        </div>

                        <div>
                            <a href="#">Confirma disponibilidad</a>

                            <p>
                                Valida con nosotros si las piezas que te gustaría adquirir se 
                                encuentran disponibles o si se fabricarán especialmente para ti 
                            </p>
                        </div>
    
                    </div>

                </div>
            </section>

            <section class="product__section--aside">
                <div class="product-info">
                    <div class="product-edd">
                        <p>Recibe en tu casa</p>
                        <p>
                            Confirma tu Pedido y te haremos llegar el total de tu compra*, 
                            recuerda que tenemos envíos nacionales desde $150 o gratis en 
                            la compra de $899. Obtén un 10% en la compra de más de 3 
                            modelos distintos.
                        </p>

                        <p>
                            Haz llegar la información de envío: Nombre, Dirección: Calle, 
                            Número, Colonia, C.P., Ciudad, Estado.
                        </p>

                        <p>
                            Tu pedido será enviado en un plazo de 3 días hábiles laborales* 
                            y el envío será de 3 a 5 días hábiles dependiendo de la zona de envío
                        </p>

                        <p>*Precios no incluyen IVA</p>
                        <p>*Dependiendo de la temporada y existencias</p>
                    </div>
                    <!-- <div class="buy-section">
                        <a class="buy-now" href="">Buy now</a>
                        <a class="add-car" href="">Add to cart</a>
                    </div> -->
                </div>
            </section>
        </div>
    </div>

    <div class="page-row"></div>

</div>