<div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item bg__first active">
                <div class="carousel-caption d-md-block">
                    <h1>Conoce Sólo respira</h1>
                    <p>Velas decorativas a base de soya orgánica, una cera de origen vegetal, vertidas a mano y elaboradas de manera artesanal en México</p>
                    <a routerLink="/search" class="btn btn-outline-light">Descubre más</a>
                </div>
            </div>
            <div class="carousel-item bg__second">
                <div class="carousel-caption d-md-block">
                    <h1>Puedes descargar nuestro catálogo</h1>
                    <p>Si así lo prefieres también puedes descargar nuestro catalogo para verlo offline en formato PDF</p>
                    <a href="assets/docs/Catálogo Oficial -  SP Sólo respira 2022.pdf" target="_blank" class="btn btn-outline-light">Descargar</a>
                </div>
            </div>
            <div class="carousel-item bg__third">
                <div class="carousel-caption d-md-block">
                    <h1>
                        Siguenos en Instagram
                    </h1>
                    
                    <p>
                        Gracias por elegirnos, cada pieza es hecha con amor y representa elegancia, belleza y arte.
                    </p>

                    <div class="instagram-icon">
                        <a href="https://www.instagram.com/solorespira.mx/" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
