<div class="department-block">
    
    <app-show-errors [errors]="errors"></app-show-errors>

    <div class="department-block__headers">
        <h3>{{departmentPage.name}}</h3>
        <p>{{departmentPage.description}}</p>
    </div>

    <div class="department-block__buttons">
        <a class="btn btn-outline-dark" *ngFor="let category of departmentPage.categories" (click)="goToSearch(category.id)">{{category.name}}</a>
    </div>

    <div class="department-block__images" *ngIf="departmentPage.id > 0">
        <div class="image" *ngFor="let category of departmentPage.categories">
            <img [src]="category.image" alt="There is no image to display">
            <a class="btn btn-white department-button" (click)="goToSearch(category.id)">{{category.name}}</a>
        </div>
    </div>

    <div class="department-banner">
        <div class="department-banner__overlay">
            <h1>
                What's New at Infinite
            </h1>

            <a class="department-banner__button">
                Discover More
            </a>
        </div>
    </div>
</div>