<app-show-errors [errors]="errors"></app-show-errors>

<form [formGroup]="form" (submit)="saveChanges()">
    <div class="form-group mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" [ngModel]="productToEditParam.name" 
        type="text" formControlName="name" placeholder="Write the product name here...">
        <span>{{getNameErrorMessage()}}</span>
    </div>

    <app-input-img [urlCurrentImage]="productToEditParam.image" (selectedFile)="selectedFile($event)"></app-input-img>

    <div class="form-group mb-3">
        <label class="form-label">Department</label>
        <select 
        [ngModel]="productToEditParam.departmentId" class="form-select" formControlName="departmentId" 
         (change)="setCategory()">
            <option *ngFor="let department of departmentsSelectListOptions" [value]="department.id">
                {{department.name}}
            </option>
        </select>
        <span>{{getDepartmentErrorMessage()}}</span>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Category</label>
        <select [ngModel]="productToEditParam.categoryId" class="form-select" formControlName="categoryId">
            <option *ngFor="let category of categoriesSelectListOptions" [value]="category.id">
                {{category.name}}
            </option>
        </select>
        <span>{{getCategoryErrorMessage()}}</span>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Price</label>
        <input formControlName="price" [ngModel]="productToEditParam.price" type="number" class="form-control" placeholder="Write the product price here...">
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Discount</label>
        <input formControlName="discount" [ngModel]="productToEditParam.discount" type="number" min="0" max="1" class="form-control" placeholder="Write the price discount here...">
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Description</label>
        <textarea formControlName="description" [ngModel]="productToEditParam.description" type="text"class="form-control" placeholder="Write the product description here..."></textarea>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Height</label>
        <input formControlName="height" [ngModel]="productToEditParam.height" type="text"class="form-control" placeholder="Write the product height here...">
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Length</label>
        <input formControlName="length" [ngModel]="productToEditParam.length" type="text"class="form-control" placeholder="Write the product length here...">
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Weight</label>
        <input formControlName="weight" [ngModel]="productToEditParam.weight" type="text"class="form-control" placeholder="Write the product weight here...">
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Width</label>
        <input formControlName="width" [ngModel]="productToEditParam.width" type="text"class="form-control" placeholder="Write the product width here...">
    </div>

    <button class="btn btn-primary" [disabled]="form.invalid">Send</button>
    <a class="btn btn-secondary" routerLink="/products">Return</a>
</form>