@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

// Fonts
$main_font: 'Cormorant', serif;
$logo_font: 'Italianno', serif;

// Colors
$black: #000000;
$white: #FFFFFF;
$gray: #e1e1e1;
$darkGray: #333333;
$red: #CC2936;
$lightGreenWarn: #d4edda;
$darkGreenWarn: #1b5c2a;
$lightRedWarn: #f8d7da;
$darkRedWarn: #873940;
$lightYellowWarn: #fff3cd;
$darkYellowWarn: #94751d;

$separation: 5rem;
$hovergrowthfactor: 1.1;

// Font Sizes
$thin: 300;
$regular : 400;
$bold: 700;
$bolder: 900;

// Media Query Sizes
$cellphoneSmall: 480px;
$cellphone: 576px;
$tabletSmall: 768px;
$tablet: 992px;
$desktop: 1200px;

// Mixins
@mixin cellphoneSmall {
    @media (max-width: #{$cellphoneSmall}) {
        @content;
    }
}

@mixin cellphone {
    @media (max-width: #{$cellphone}) {
        @content;
    }
}

@mixin tabletSmall {
    @media (max-width: #{$tabletSmall}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin button($bgColor, $display) {
    background-color: $bgColor;
    color: $white;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin: $separation / 2 0;
    display: $display;
    border: none;

    &:hover {
        background-color: darken($bgColor, 5);
        cursor: pointer;
    }
}

// Globals
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $main_font;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
}
p {
    color: $black;
    font-size: 2rem;
    font-family: $main_font;
}
.container-base {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $darkGray;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $main_font;
    margin: calc($separation / 2) 0;
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

// Utilities
*:disabled {
    opacity: 0.7;
    pointer-events: none;
}

// Light Mode

// Dark Mode