<div class="site">
    <div class="site-content">
        <div class="site-sections">
            
            <app-authorized [role]="'admin'">
                <ng-container authorized>
                    <nav class="site-sections__menu">
                        <div class="site-sections__side">
                            <button class="btn btn-outline-light" routerLink="/management-dashboard">Manage</button>
                        </div>
            
                        <div class="site-sections__side">
            
                        </div>
                    </nav>
                </ng-container>
            </app-authorized>
            
            <div class="site-sections__block" >
                <app-carousel></app-carousel>
            </div>

            <div class="site-sections__block">
                <div class="second-section">
                    <div class="second-section__image">
                        <img loading="lazy" src="assets/images/Banner3_2.webp" class="img-fluid" alt="There should be a picture here">
                    </div>
                    <div class="second-section__text">
                        <div>
                            <span>Tu espacio</span>
                            <h1>Redefine tus espacios</h1>
                            <p>Más de 60 modelos de velas aromáticas que puedes usar para decorar tus espacios que, sin la necesidad de encenderlas ya dan un sutil y agradable aroma.</p>
                            <a routerLink="/search" class="btn btn-outline-dark">Descubre más</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- <div class="site-sections__block">
                <div class="third-section">
                    <div class="third-section__text">
                        <h1>Discover Amazing Figures</h1>
                        <p>
                            With our delivery service get new candles the same day they are released. Plus, 
                            play hundreds of high-quality games with your friends on console, PC, or the cloud. 
                            We're constantly adding new games, so there's always something new to enjoy.
                        </p>
                        <a href="#" class="btn btn-outline-light">Learn More</a>
                    </div>
                </div>
            </div> -->

            <div class="site-sections__block">
                <div class="fourth-section">
                    
                    <div class="fourth-section__content">
                        <div class="fourth-section__content_one">
                            <img loading="lazy" src="assets/images/Banner8_2.webp" class="img-fluid" alt="There should be a picture here">
                            <div class="fourth-section__text">
                                <span>Bolita</span>
                                <div class="fourth-section__buttons">
                                    <a href="#" class="btn btn-outline-light">Explore More</a>
                                    <a href="#" class="btn btn-outline-light">Discover Events</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="fourth-section__content">
                        <div class="fourth-section__content_two">
                            <img loading="lazy" src="assets/images/Banner9_2.webp" class="img-fluid" alt="There should be a picture here">
                            <div class="fourth-section__text">
                                <span>Torre de Pisa</span>
                                <h1>New season</h1>
                                <div class="fourth-section__buttons">
                                    <a href="#" class="btn btn-outline-light">Explore More</a>
                                    <a href="#" class="btn btn-outline-light">Discover Events</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-sections__block">
                <div class="fifth-section">
                    <div class="fifth-section__text">
                        <p>Siguenos en Instagram</p>
                    </div>
                    
                    <div class="fifth-section__icons">
                        <a href="https://www.instagram.com/solorespira.mx/" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>

                    <!-- <div class="fifth-section__buttons">
                        <a href="#" class="btn btn-outline-dark">Discover Events</a>
                        <a href="#" class="btn btn-outline-dark">Discover Offers</a>
                    </div> -->
                </div>
            </div>

            <div class="site-sections__block">
                <div class="sixth-section">
                    <div class="sixth-section__text">
                        <h1>¿Qué será lo nuevo en Sólo respira?</h1>
                        <!-- <a href="#" class="btn btn-outline-light">Discover More</a> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>